body {
  background-color: #F8F0E5;
  background-image: url('./images/background.jpg');
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #0f0d0f;
  border-radius: 2%;


}

img {
  width: 60%;
  height: 300px;
}

.card img {
  width: 100%;
  height: 200px;
  max-height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 1.5rem;
  color: #F8F0E5;
}

button {
  font-size: 1rem;
  background-color: rgb(189, 6, 46);
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.title {
  text-align: center;
  flex-grow: 1;

}